/* SideBar */
.libraryScroll {
  overflow: hidden;
  overflow-y: scroll;
}

.libraryScroll::-webkit-scrollbar {
  width: 15px;
}

.libraryScroll::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  width: 15px;
  opacity: 50%;
}

.libraryScroll::-webkit-scrollbar-track-piece {
  background: transparent;
}

/* MainElement */

.mainElementScroll {
  overflow: hidden;
  overflow-y: scroll;
}

.mainElementScroll::-webkit-scrollbar {
  width: 15px;
}

.mainElementScroll::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  width: 15px;
  opacity: 50%;
}

.mainElementScroll::-webkit-scrollbar-track-piece {
  background: transparent;
}
